{% extends 'base.html.twig' %}

{% block title %}Demande d'envoi d'identifiant{% endblock %}

{% block body %}

    <div class="jumbotron jumbotron-fluid bg-white-t50">
        <div class="container">
            <h1 class="display-4">Oubli de mes identifiants de connexion</h1>
            <p class="lead">
                Veuillez saisir votre adresse e-mail de contact, un e-mail de réinitialisation du mot de passe vous sera envoyé si vous êtes connu de notre système.
            </p>
            {{ form_start(form) }}
            {{ form_row(form.email) }}
            <label class="hpfield" for="name"></label>
            <input class="hpfield" autocomplete="off" type="text" id="name" name="name" placeholder="Your name here">
            <label class="hpfield" for="phone"></label>
            <input class="hpfield" autocomplete="off" type="tel" id="phone" name="phone" placeholder="Your phone number here">

            <button class="btn btn-primary" type="submit">Demander mes identifiants de connexion</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
