{% extends 'base.html.twig' %}

{% block headertitle %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <p class="lead">
                Merci de saisir votre nouveau mot de passe !
            </p>
            <p>
                {{ form_start(form) }}
                {{ form_row(form.password) }}
                <button class="btn btn-primary" type="submit">Réinitialiser</button>
                {{ form_end(form) }}
            </p>
        </div>
    </div>
{% endblock %}
