{% extends 'base.html.twig' %}

{% block stylesheets %}<style>
    .loader {
        height: 310px;
    }
</style>{% endblock %}

{% block title %}Kermesse{% endblock %}

{% block body %}
    <fieldset>
        <legend>Activités <a href="#" data-ajax="{{ path('nouvelle_activite', {'id': kermesse.id}) }}" class="btn btn-primary ajax-reload" data-toggle="tooltip" title="Nouvelle activité"><i class="fas fa-plus"></i></a></legend>
        <div class="row">
            {% if activites is empty %}
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card text-center">
                    <h5 class="card-title">Aucune activité</h5>
                </div>
            </div>
            {% endif %}
            {% for activite in activites %}
                <div class="col-sm-6 col-md-4 col-lg-3 mb-3 ajax" data-ajax-url="{{ path('carte_activite', {'id': activite.id}) }}">
                </div>
            {% endfor %}
        </div>
    </fieldset>
{% endblock %}
