{% extends 'base.html.twig' %}

{% block title %}Kermesse{% endblock %}

{% block body %}
    <fieldset>
        <legend>Activités <a href="{{ path('nouvelle_activite', {'id': kermesse.id}) }}" class="btn btn-primary"><i class="fas fa-plus"></i></a></legend>
        <div class="row">
            {% if kermesse.activites is empty %}
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <div class="card text-center">
                    <h5 class="card-title">Aucune activité</h5>
                </div>
            </div>
            {% endif %}
            {% for activite in kermesse.activites %}
                {% include "activite/card.html.twig" with {'activite': activite, 'recettes': recettes, 'montantTicket': montantTicket} only %}
            {% endfor %}
        </div>
    </fieldset>
{% endblock %}