{% extends 'base.html.twig' %}

{% block title %}{{ kermesse.theme }} - Recettes{% endblock %}

{% block body %}
    <fieldset>
        <legend>Recettes <span class="d-lg-none">(Total : {{ total.montant }} / {{ total.nombre_ticket }} tickets) </span><a href="{{ path('nouvelle_recette', {'id': kermesse.id}) }}" class="btn btn-primary" data-toggle="tooltip" title="Nouvelle recette"><i class="fas fa-plus"></i></a></legend>
        <div class="row d-none d-lg-block">
            {% include "recette/table.html.twig" with {'recettes': recettes, 'total': total} only %}
        </div>
        <div class="row d-lg-none">
            {% if recettes is empty %}
                <div class="col-sm-6 mb-3">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Aucune recette</h5>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% for recette in recettes %}
                <div class="col-sm-6 mb-3">
                    {% include "recette/card.html.twig" with {'recette': recette} only %}
                </div>
            {% endfor %}
        </div>
    </fieldset>
{% endblock %}