{% extends 'base.html.twig' %}

{% block title %}{{ kermesse.theme }} - Remboursements{% endblock %}

{% block body %}
    <fieldset>
        <legend>Remboursements</legend>
        <div class="row d-none d-lg-block">
            {% include "remboursement/table.html.twig" with {'rows': rows} only %}
        </div>
        <div class="row d-lg-none">
            {% if rows is empty %}
                <div class="col-sm-6 mb-3">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Aucun remboursement</h5>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% for remboursement in rows %}
                <div class="col-sm-6 mb-3">
                    {% include "remboursement/card.html.twig" with {'remboursement': remboursement} only %}
                </div>
            {% endfor %}
        </div>
    </fieldset>
{% endblock %}