{% extends 'base.html.twig' %}

{% block title %}{{ kermesse.theme }} - Dépenses{% endblock %}

{% block body %}
    <fieldset>
        <legend>Dépenses <a href="{{ path('nouveau_ticket', {'id': kermesse.id}) }}" class="btn btn-primary" data-toggle="tooltip" title="Nouvelle dépense"><i class="fas fa-plus"></i></a></legend>
        <div class="row d-none d-lg-block">
            {% include "ticket/table.html.twig" with {'colonnes': colonnes, 'rows': rows, 'order': order} only %}
        </div>
        <div class="row d-lg-none">
            {% if rows is empty %}
                <div class="col-sm-6 mb-3">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Aucun ticket</h5>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% for ticket in rows %}
                <div class="col-sm-6 mb-3">
                    {% include "ticket/card.html.twig" with {'ticket': ticket} only %}
                </div>
            {% endfor %}
        </div>
    </fieldset>
{% endblock %}