{% extends 'modal.html.twig' %}

{% block title %}Contacter un membre{% endblock %}

{% block body %}
    {{ form_row(form.membre) }}
    {{ form_row(form.emetteur) }}
    {{ form_row(form.titre) }}
    {{ form_row(form.message) }}
{% endblock %}

{% block sendbutton %}
    <button class="btn btn-primary" type="submit"><i class="fab fa-telegram-plane"></i> Envoyer !</button>
{% endblock %}
