<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Prénom</th>
        <th scope="col">Nom</th>
    </tr>
    </thead>
    <tbody>
    {% for membre in membres %}
        <tr>
            <th scope="row">{{ membre.id }}</th>
            <td>{{ membre.prenom }}</td>
            <td>{{ membre.nom }}</td>
        </tr>
    {% else %}
        <tr><td colspan="3">Aucun membre</td></tr>
    {% endfor %}
    </tbody>
</table>