.activite-ligne-creneaux {
    flex-wrap: nowrap;
}

.activite-creneau {
    text-wrap: normal;
    text-align: center;
}

.activite-creneau.draggable a.btn {
    padding-left: 20px;
}

.planning-heure {
    position: absolute;
}

.planning-entete {
    border-left: 1px dashed #dee2e6;
    position: relative;
}

body {
    background: url("/imgs/blackboard.jpg");
}

.draggable {
    position: relative;
}

.draggable .drag-grip {
    position: absolute;
    top: 10px;
    left: 6px;
}

.droppable.ui-droppable-active .btn,
.draggable.ui-draggable-disabled .btn {
    cursor: pointer;
}

.droppable.dragging:not(.ui-droppable-active) .btn {
    cursor: no-drop;
}

.draggable:not(.ui-draggable-disabled) .drag-grip {
    cursor: grab;
}
