.activite-creneau {
    text-wrap: normal;
    text-align: center;
}

.planning-heure {
    position: absolute;
}

.planning-entete {
    border-left: 1px dashed #dee2e6;
    position: relative;
}

body {
    background: url("/imgs/blackboard.jpg");
}
