<h3>Vous avez oublié vos identifiants de connexion,</h3>
<p>
    Si vous n'êtes pas à l'origine de cette action, ne tenez pas compte de cet e-mail.<br />
    Dans le cas contraire, voici la liste des établissements que vous gérez :<br />
    <ul>
    {% for etablissement in etablissements %}
        <li>{{ etablissement.nom }} : {{ etablissement.username }}</li>
    {% endfor %}
    </ul>
</p>
<p>
    Cordialement,<br />
    L'équipe de La Kermesse
</p>
