<h3>Vous avez effectué une demande de remboursement sur le site BdzKermesse</h3>
<p>
    Voici le message qui vous a été envoyé : <br />
    {{ message }}
</p>
<p>
    Cordialement,<br />
    L'équipe de BdzKermesse
</p>