<h3>Merci,</h3>
<p>
    Vous souhaitez donner un peu de votre temps pour le bon déroulement de la kermesse.
    Afin de valider votre email et votre identité, merci de cliquer sur le lien ci dessous :
    <a href="{{ btnurl }}">Je valide mon inscription</a>
</p>
<p>
    Cordialement,<br />
    L'équipe de la kermesse
</p>
