{% extends 'base.html.twig' %}

{% block title %}Kermesses{% endblock %}

{% block stylesheets %}
    <style>
        html {
            height: 100%;
        }

        body {
            position: relative;
            height: 100%;
        }

        body::after {
            content: "";
            background: url("/imgs/accueil_bg.jpg");
            opacity: 0.8;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;
        }
    </style>
{% endblock %}

{% block body %}
    <fieldset>
        <legend>Nos kermesses <a href="{{ path('nouvelle_kermesse') }}" class="btn btn-primary" data-toggle="tooltip" title="Nouvelle kermesse"><i class="fas fa-plus"></i></a></legend>
        <div class="row">
            {% if kermesses is empty %}
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Aucune kermesse</h5>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% for kermesse in kermesses %}
                <div class="col-sm-6 col-md-4 col-lg-3 mb-3 ajax" data-ajax-url="{{ path('carte_kermesse', {'id': kermesse.id}) }}">
                    <i class="fab fa-yelp fa-pulse fa-4x"></i>
                </div>
            {% endfor %}
        </div>
    </fieldset>
{% endblock %}
