{% extends 'base.html.twig' %}

{% block title %}Activité - {{ activite.nom }} - Bénévoles{% endblock %}

{% block body %}
    <h2>Bénévoles de l'activité «{{ activite.nom }}»</h2>
    {% include "activite/benevoles-part.html.twig" with {'activite': activite} only %}
{% endblock %}
