<ul {% if menu_main %} class="metismenu" id="menu" {% endif %}>
    {% for menu_link in menu.links %}
        <li class="{% if menu_link.active %}active{% endif %}">
            <a href="{{ menu_link.href }}" aria-expanded="{% if menu_link.active %}true{% else %}false{% endif %}">{% if menu_link.icon is not empty %}{% include "icon.html.twig" with {'icon': menu_link.icon} only %} {% endif %}{{ menu_link.name }}</a>
            {% if menu_link.menu is not empty %}
                {% include "menu.html.twig" with {'menu': menu_link.menu, 'menu_main': false} only %}
            {% endif %}
        </li>
    {% endfor %}
</ul>
