<aside id="menu-slim" class="d-none d-lg-none">
    <nav class="sidebar-nav d-flex flex-column">
        {% if app.user is not empty %}
            <ul class="metismenu" id="menu2">
                <li class="">
                    <a href="#" aria-expanded="true">{% include "icon.html.twig" with {'icon': 'user'} only %} {{ app.user.nom }}</a>
                    <ul>
                        <li class="">
                            <a data-ajax="{{ path('editer_etablissement') }}" data-ajax-destination="#main-modal-form" href="#" aria-expanded="false">{% include "icon.html.twig" with {'icon': 'edit'} only %} Éditer</a>
                            <a href="{{ path('security_logout') }}" aria-expanded="false">{% include "icon.html.twig" with {'icon': 'sign-out-alt'} only %} Déconnexion</a>
                        </li>
                    </ul>
                </li>
            </ul>
        {% endif %}
        {% include "menu.html.twig" with {'menu': menu, 'menu_main': true} only %}
    </nav>
</aside>
