{% extends 'base.html.twig' %}

{% block headertitle %}Kermesse - Changement d'activité{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Merci {{ identite }}</h1>
            <p class="lead">
                Nous avons pris en compte votre réponse.<br />
                Si vous souhaitez vous inscrire sur une autre activité, veuillez accéder au planning :
            </p>
            <a type="button" class="btn btn-primary btn-lg" href="{{ path('benevoles_planning', {'code': code}) }}">Accéder au planning</a>
        </div>
    </div>
{% endblock %}

